<head>  
    <title>List Qualifying Household</title>  
</head>  
<body>
	<form>
		<button formaction = "/create" >Create</button> 
		<button formaction = "/search" >Search</button> 
		<button formaction = "/addmember" >Add Member</button>
		<button formaction = "/listall" >List All</button>
		<button formaction = "/listqualifying" >List Qualifying</button>
    </form>   

	<h1>List Qualifying Household & Members for YGG</h1>
	<h3>Displayed in the format: Household ID, Member ID</h3>
	<ul>
		{% for members in YGGMessage %}
			
		<li>
			<label>Household ID</label>
			{{ members.household_id }}
			<label for="YGG">Member ID</label>
			{{ members.id }}
			<br>
		</li>
		{% endfor %}
	</ul>

</body>  
</html>  