<head>  
    <title>List All Household</title>  
</head>  
<body>
	<form>
		<button formaction = "/create" >Create</button> 
		<button formaction = "/search" >Search</button> 
		<button formaction = "/addmember" >Add Member</button> 
    </form>   


	<h1>List All Household</h1>
	<p>Click Submit to List All Households</p>
	
	<form action = "/listall" method = "post">
		<button name="submitBtn" value="Submit">Submit</button> 
    </form>  
	
	<ul>
		{% for households in listAllMessage %}
		<li>
			{{ households }}
		</li>
		{% endfor %}
	</ul>


</body>  
</html>  