<html>  
<head>  
    <title>Create Household</title>  
</head>  
<body>
	<form>
		<button formaction = "/search" >Search</button> 
		<button formaction = "/listall" >List All</button> 
		<button formaction = "/addmember" >Add Member</button>
		<button formaction = "/listqualifying" >List Qualifying</button>
    </form>   
	
	<h1>Create Household</h1>
	<p>Selecting a Housing Type and Click Submit</p>
	
	<form action = "/create" method = "post">
		<label for="housingType">Housing Type:</label>
		<select name="housingType" id="housingType">
		  <option value="landed">Landed</option>
		  <option value="condominium">Condominium</option>
		  <option value="hdb">HDB</option>
		</select> 
		<button name="submitBtn" value="Submit">Submit</button> 
    </form>  
	
	<h3>{{ createMessage }}</h3>

</body>  
</html>  