<head>  
    <title>List Qualifying Household</title>  
</head>  
<body>
	<form>
		<button formaction = "/create" >Create</button> 
		<button formaction = "/search" >Search</button> 
		<button formaction = "/addmember" >Add Member</button> 
		<button formaction = "/listall" >List All</button> 
    </form>   

	<h1>List Qualifying Household</h1>
	<p>Click a Button to List the Qualifying Households</p>
	
	<form>
		<label for="SEB">Student Encouragement Bonus</label>
		<button formaction="/listqualifying/SEB" id="SEB">Select</button>
		<br>
		<label for="MGS">Multigeneration Scheme</label>
		<button formaction="/listqualifying/MGS" id="MGS">Select</button>
		<br>		
		<label for="EB">Elder Bonus</label>
		<button formaction="/listqualifying/EB" id="EB">Select</button> 
		<br>
		<label for="BSG">Baby Sunshine Grant</label>
		<button formaction="/listqualifying/BSG" id="BSG">Select</button>
		<br>
		<label for="YGG">YOLO GST Grant</label>
		<button formaction="/listqualifying/YGG" id="YGG">Select</button> 	
    </form>  

</body>  
</html>  